Repository mobilecoinfoundation/sgx-std, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, dependencies

Fix Cargo.toml, update README.md
  Cargo.toml
  README.md
Labels: rust

Add `mc-sgx-alloc` crate
  .gitignore
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  alloc/Cargo.toml
  alloc/README.md
  alloc/src/lib.rs
Labels: rust, dependencies

Add back ignore of Cargo.lock
  .gitignore
  Cargo.lock
Labels: rust, dependencies

Fix CI steps
  .github/workflows/ci.yaml
  .markdownlint-cli2.jsonc
  README.md
  alloc/Cargo.toml
  deny.toml
Labels: rust

Add global allocator for SGX enclave
  .github/workflows/ci.yaml
  Cargo.toml
  alloc/Cargo.toml
  alloc/src/allocator.rs
  alloc/src/lib.rs
  rust-toolchain.toml
  rustfmt.toml
Labels: rust

Add the crate that connects global allocator
  .gitignore
  Cargo.toml
  alloc/src/allocator.rs
  alloc/src/lib.rs
  lang/allocator/Cargo.toml
  lang/allocator/README.md
  lang/allocator/src/lib.rs
Labels: rust

Reword crate description
  lang/allocator/Cargo.toml
  lang/allocator/README.md
Labels: rust

Add `mc-sgx-panic` crate
  Cargo.toml
  panic/Cargo.toml
  panic/README.md
  panic/src/lib.rs
Labels: rust

Add macro to declare global allocator
  .gitignore
  alloc/src/allocator.rs
  alloc/src/lib.rs
Labels: none

Reorder the github-token input to work for dependabot
  .github/workflows/issues.yaml
  .github/workflows/pr.yaml
Labels: none

Update CI for SGX SDK action update
  .github/workflows/ci.yaml
Labels: none

Change to using a matrix strategy for the toolchain
  .github/workflows/ci.yaml
Labels: none

Remove the rust toolchain for deny and sort CI jobs
  .github/workflows/ci.yaml
Labels: none

Move panic to panic/abort
  Cargo.toml
  panic/README.md
  panic/abort/Cargo.toml
  panic/abort/README.md
  panic/abort/src/lib.rs
  panic/src/lib.rs
Labels: rust

Add cargo release metadata to `mc-sgx-panic-abort`
  panic/abort/Cargo.toml
Labels: rust

Update the build label url
  README.md
Labels: none

.github/labeler.yml:

rust:
  - '**.rs'
  - '**/Cargo.lock'
  - '**/Cargo.toml'

dependencies:
  - '**/Cargo.lock'
